.App {
  text-align: center;
}

.info-categories{
  margin:10px;
}

.container{
  display: flex;
  justify-content: space-around;
}

.input{
  margin-top: 10px;
  margin-left: 10px;
}

.nomimg{
  font-weight: 600;
}

.main-title{
  margin:50px;
}

.home-container{
  margin-bottom: 300px;
}

.redirect-container{
  margin-top: 150px;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



